{% extends "base_generic.html" %}

{% block title %} <title> Contacto </title> {% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container">

  <!-- Portfolio Item Heading -->
  <h1 class="my-4">{{meme.title}}
    <small>a meme review</small>
  </h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <img class="img-fluid" src="{{meme.mainImage}}" alt="">
    </div>

    <div class="col-md-4">
      <h3 class="my-3">{{meme.title}}</h3>
      <p>{{meme.description}}</p>
    </div>

  </div>
  <!-- /.row -->

  <!-- comment section -->
  <div class="row">
    <!-- Post Content Column -->
    <div class="col-lg-8">
      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">Leave a Review:</h5>
        <div class="card-body">
          <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <!-- this is an example form
          <form>
            <div class="form-group">
              <p>
                <label for="id_message">Message:</label>
                <textarea name="message" cols="40" rows="3" class="form-control" required id="id_message"> </textarea>
              </p>
              <p>
                <label for="id_rating">Rating:</label>
                <input type="number" name="rating" min="0" max="10" required id="id_rating" />
              </p>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        -->
        </div>
      </div>

      <!-- Single Comment -->
      {% if meme.reviews.all %}
      {% for review in meme.reviews.all %}
      <div class="media mb-4">
        <div class="media-body">
          <h5 class="mt-0">Rating: {{review.ratingReview}}/10</h5>
          {{review.textReview}}
        </div>
      </div>
      <hr>
      {% endfor %}
      {% endif %}

    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

  <!-- Related Projects Row -->
  <h3 class="my-4">OtHeR MEmeS</h3>

  <div class="row">


    {% if relatedMemes %}
    {% for imageMeme in relatedMemes %}
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="{{imageMeme.get_absolute_url}}"><img class="card-img-top" src="{{imageMeme.mainImage}}" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="{{imageMeme.get_absolute_url}}">{{imageMeme.title}}</a>
          </h4>
          <p class="card-text">{{imageMeme.description}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}

    <!--
    {% if relatedMemes %}
    {% for imageMeme in relatedMemes %}
    <div class="col-md-3 col-sm-6 mb-4">
      <a href="{{imageMeme.get_absolute_url}}">
        <img class="img-fluid" src="{{imageMeme.mainImage}}" alt="">
      </a>
    </div>
    {% endfor %}
    {% endif %}
  -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

{% endblock content %}
